.classpath
.project
.settings
target
/.link_to_grails_plugins
/.link_to_grails_plugins/*
/target-eclipse
/web-app
/lib
*.iml
*.*~
/.idea
/atlassian-ide-plugin.xml
/grails-app/i18n/messages.properties
/*.zip
/*.sha1
/plugin.xml
